body {
    display: flex;
    justify-content: center;
    background-image: url("/static/background.jpg");;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
 }

 #sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: #bdaf4a;
    height: 100vh;
    width: 10vw;
    transition: width 0.5s;
 }

 #buy {
    color: #9f0cb3;
 }

 #sell {
    color: #0cf711;
 }

 #info {
    color: white;
 }

 #sidebar a {
    text-decoration: none;
    font-weight: bold;
 }

 #sidebar a, #sidebar h2 {
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
 }

 #sidebar:hover {
    width: 25vw;
 }

 #sidebar:hover a, #sidebar:hover h2 {
    opacity: 1;
 }

 #sidebar img {
    width: 10vw;
 }

 .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 100vh;
    background-color: #bdaf4a;
 }

 .main-content img {
   top: 0;
    width: 80%;
    padding-left: 20%;
 }

 .main-content h1 {
   text-align: center;
   font-weight: bold;
   justify-content: flex-start;
 }

 .main-content p {
   font-size: 90%;   
   text-align: center;
   font-weight: bold;
   padding: 4%;  
 }

 .main-content a {
   color: black;
   font-weight: bold;
 }

 .main-content a:hover {
   color: #9f0cb3;
   text-decoration: underline;
 }

 #login {
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 5vw;
   margin: 2vh;
 }

 #user label {
   font-weight: bold;
   text-decoration: underline;
 }

 #user input {
   border: 2px solid lime;
   background-color: black;
   color: white;
   border-radius: 25% 0 25% 0;
   margin-bottom: 5vh;
 }

 #pass label {
   font-weight: bold;
   text-decoration: underline;
 }

 #pass input {
   border: 2px solid purple;
   background-color: black;
   color: white;
   border-radius: 0 25% 0 25%;
   margin-bottom: 7vh;
 }

 #login button {
   background-color: black;
   font-weight: bold;
   color: white;
   border: 2px solid grey;
   border-radius: 50%;
 }

 #upload {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 80%;
 }

 #upload label {
   font-weight: bold;
   text-align: center;
 }

 .product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

 .product {
  text-align: center;
  max-inline-size: 20%;
  border: 1px solid black;
  margin: 2%;
 }

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}

#display form {
  max-width: 70%;
  justify-content: center;
}