body {
    display: flex;
    justify-content: center;
    background-image: url("/static/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
 }

 #sidebar {
    position: fixed;
    left: 0;
    background-color: #bdaf4a;
    height: 100vh;
    width: 10%;
    transition: width 0.5s;
 }

 #buy {
    color: #9f0cb3
 }

 #sell {
    color: #0cf711
 }

 #sidebar a, #sidebar h2 {
    opacity: 0;
    transition: opacity 0.5s;
 }

 #sidebar:hover {
    width: 25%;
 }

 #sidebar:hover a, #sidebar:hover h2 {
    opacity: 1;
 }

 #sidebar img {
    width: 150px;
 }

 .main-content {
    width: 40%;
    background-color: #bdaf4a;
 }

 .main-content img {
    height: 200px;
    display: block;
    margin: 0 0 0 120px;
 }

 .main-content p {
    text-align: center;
    margin: 5%
 }

 #loginform {
    display: none;
 }
