{% extends "layout.html" %}

{% block title %}
    Shopping Bag
{% endblock %}

{% block main %}

    <h2>Your Shopping Bag</h2>

    {% if cart_products or cart_raffles %}
    <ul>
        {% for product in cart_products %}
        <li><img src="{{ url_for('static', filename='thumbnails/' + product.item.thumbnail_filename) }}" alt="Product Thumbnail">
            <br> {{ product.item.name }} - Item Total Price: £{{ "{:.2f}".format(product.total_price) }}
        </form>
        <form action="{{ url_for('remove_from_bag', item_id=product.item.id) }}" method="POST">
            <button type="submit">Remove from Bag</button>
        </form>
        </li>
        {% endfor %}

        {% for raffle in cart_raffles %}
        <li>Raffle: {{ raffle.item.name }} - Item Total Price: £{{ "{:.2f}".format(raffle.total_price) }}
        </form>
        <form action="{{ url_for('remove_from_bag', item_id=raffle.item.id) }}" method="POST">
            <button type="submit">Remove from Bag</button>
        </form>
        </li>
        {% endfor %}
    </ul>
    <p>Total Price: £{{ "{:.2f}".format(total_price) }}</p>
    <form action="{{ url_for('checkout') }}" method="POST">
        <button type="submit">Checkout</button>
    </form>
    {% else %}
        <p>Your bag is empty.</p>
    {% endif %}
{% endblock %}
