{% extends "layout.html" %}

{% block title %}
    Joker Creole
{% endblock %}

{% block main %}
<img src="/static/logo2.png">
<h1>Jokers Creoles</h1>
<div class="product-grid">
    {% for product in creole_products %}
    <div class="product">
        <a href="{{ url_for('product', product_id=product.id) }}">
            <h3>{{ product.name }}</h3>
            <img src="{{ url_for('static', filename='thumbnails/' + product.thumbnail_filename) }}" alt="Product Thumbnail">
            <p>{{ product.price }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}