{% extends "layout.html" %}

{% block title %}
    Joker Creole
{% endblock %}

{% block main %}
<img src="/static/logo2.png">
<h1>Jokers Creoles</h1>
<div class="product-grid">
    {% for i in range (creole_products|length) %}
    <div class="product">
        <a href="{{ url_for('product', product_id=creole_products[i].id) }}">
            <h3>{{ creole_products[i].name }}</h3>
            <img src="{{ url_for('static', filename='thumbnails/' + creole_products[i].thumbnail_filename) }}" alt="Product Thumbnail">
            <p>{{ creole_products[i].status }} - £{{ "{:.2f}".format(sale_prices[i]) }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}