{% extends "layout.html" %}

{% block title %}
    {{ page.item }}
{% endblock %}

{% block main %}
    <div id="display">
        <img src="{{ url_for('static', filename='productimages/' + page.pic_name) }}">
        <h3>{{ page.status }}</h3>

        <h3>{{ page.item }}</h3>

        {% if page.brand %}
        <h3>Brand: {{ page.brand }}</h3>
        {% endif %}

        {% if page.weight %}
        <h3>Weight: {{ "{:.2f}g".format(page.weight) }}</h3>
        {% endif %}

        <h3>£{{ "{:.2f}".format(page.ticket) }}</h3>

        {% if page.description %}
        <h3>{{ page.description }}</h3>
        {% endif %}

        {% if page.status != 'Full' %}
        <h3>{{ page.trivia }}</h3>

        <select name="answers" id="answers">
            <option value="answer1">{{ page.answer1 }}</option>
            <option value="answer2">{{ page.answer2 }}</option>
            <option value="answer3">{{ page.answer3 }}</option>
        </select>

        <h3>Enter Raffle</h3>
        <form id="raffleForm" action="{{ url_for('display_raffles', raffle_id=page.id) }}" method="POST">
            <input type="hidden" id="selectedAnswer" name="selectedAnswer" value="">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="tickets">Tickets:</label>
            <input type="number" id="tickets" name="tickets" required>

            <input type="submit" value="Submit">
        </form>
        {% endif %}

        {% if page.status == 'Full' %}
        <h3>Unfortunately, this raffle has sold out.</h3>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            rafflesubject();
            validateTrivia("{{ page.correct }}", "{{ page.answer1 }}", "{{ page.answer2 }}", "{{ page.answer3 }}");
        });
    </script>
    {% endblock %}