{% extends "backstage.html" %}

{% block title %}
    Raffle Management
{% endblock %}

{% block main %}
    <h1>Raffles</h1>
    <a href="/dashboard">Back to Dashboard</a>
    <ul>
        {% for raffle in raffles %}
            <li>
                {{ raffle.item }} - {{ raffle.status }}
                    <form action="{{ url_for('editraffle')}}" method="POST">
                        <input type="hidden" name="raffle_id" value="{{ raffle.id}}">
                {% if raffle.status == "Slots Available" %}
                    <input type="submit" class="limit" name="action" value="Limited Slots">
                    <input type="submit" class="limit" name="action" value="Full">
                {% elif raffle.status == "Limited Slots" %}
                    <input type="submit" class="free" name="action" value="Slots Available">
                    <input type="submit" class="limit" name="action" value="Full">
                {% elif raffle.status == "Full" %}
                    <input type="submit" class="free" name="action" value="Slots Available">
                    <input type="submit" class="limit" name="action" value="Limited Slots">
                {% endif %}
                    <input type="submit" class="finish" name="action" value="Finish">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}