{% extends "layout.html" %}

{% block title %}
    Joker Jewellers
{% endblock %}

{% block main %}
    <!-- <img src="/static/logo2.png">
    <p>Joker Jewellers are a family run business based in North East England.
        Specialising in 9 and 24-carat gold, we sell a range of chains, bracelets, studs, rings and
        ear rings.
    </p>
    <p>For those looking to invest in their future, we also deal in gold bars or have luxury watches available
        through our consignment service.
    </p>
    <p>Looking to part with your jewellery or watches, making a return on that investment? See our selling
        section for no obligation information!
    </p> -->
{% endblock %}