<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Joker Jewellers</title>
    <meta name="description" content="Buy and sell gold, jewellery or consign watches.">
</head>
<body>
    <div id="sidebar">
        <img src="static/logo.png">
            <nav>
            <h2 id="buy">Buy</h2>
            <a>Chains</a><br>
            <a>Bracelets</a><br>
            <a>24 Carat Gold Bars</a><br>
            <a>Creole Ear Rings</a><br>
            <a>Designer Studs</a><br>
            <a>Watches</a><br>
            <a>Rings</a><br>
            </nav><br>
            <h2 id="sell">Sell</h2>
            <a>Gold</a><br>
            <a>Jewellery</a><br>
            <a>Consign</a>
    </div>
    <div class="main-content">
        {% block main %}{% endblock %}
    </div>
</body>
</html>
