<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="../static/logo.png" type="image/png">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Joker Jewellers</title>
    <meta name="description" content="Buy and sell gold, jewellery or consign watches.">
</head>
<body>
    <div id="sidebar">
        <img src="static/logo.png">

            <nav id="purchaseslots">
            <h2 id="buy">Buy</h2>
            <a href="/raffles">Current Raffles</a>
            <a href="/chains">Chains</a>
            <a href="/bracelets">Bracelets</a>
            <a href="/bars">24 / 9 Carat Gold</a>
            <a href="/creole">Creole Ear Rings</a>
            <a href="/studs">Designer Studs</a>
            <a href="/watches">Watches</a>
            <a href="/rings">Rings</a>
            </nav>
            
            <nav id="saleslots">
            <h2 id="sell">Sell</h2>
            <a href="/sellgold">Gold</a>
            <a href="/selljewellery">Jewellery</a>
            <a href="/consign">Consign</a>
            </nav>
            
            <nav id="infoslots">
            <h2 id="info">Info</h2>
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
            </nav>
    </div>
    <div class="main-content">
        {% block main %}{% endblock %}
    </div>
</body>
</html>
