{% extends "layout.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block main %}
    <div id="display">
        <img src="{{ url_for('static', filename='productimages/' + product.image_filename) }}" alt="Product Image">
        
        <h3>{{ product.status }}</h3>

        <h3>{{ product.name }}</h3>
        
        {% if product.brand %}
        <h3>Brand: {{ product.brand }}</h3>
        {% endif %}

        {% if product.weight %}
        <h3>Weight: {{ "{:.2f}g".format(product.weight) }}</h3>
        {% endif %}

        <h3>£{{ "{:.2f}".format(sale_prices) }}</h3>

        {% if product.description %}
        <p>{{ product.description }}</p>
        {% endif %}

        {% if product.status == 'Available' %}
        <form action="{{ url_for('add_to_bag', product_id=product.id)}}" method="POST">
            <button type="submit">Add to Bag</button>
        </form>
        {% endif %}       

        {% if product.status == 'Reserved' %}
        <h3>Enquire</h3>
        <form action="{{ url_for('product', product_id=product.id) }}", method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="enquire">Message:</label>
            <textarea id="enquire" name="enquire" rows="4" cols="50" required>{{ product.name }} - </textarea>
            <br>
            <input type="submit" value="submit">
        </form>
        {% endif %} 
    </div>
{% endblock %}