{% extends "backstage.html" %}

{% block title %}
    Add Raffle
{% endblock %}

{% block main %}
    <h1>Add Raffle</h1>

    <a href="/dashboard">Back to Dashboard</a>

    <form id="addraffle" action="/startraffle" method="post" enctype="multipart/form-data">
        
        <input type="text" id="item" name="item" placeholder="Item Name*" required>

        <label for="image">Image*</label>
            <input type="file" id="image" name="image" accept="image/jpeg" required>

        <input type="text" id="brand" name="brand" placeholder="Brand">

        <input type="number" id="weight" name="weight" placeholder="Weight">
            
        <input type="number" id="ticket" name="ticket" placeholder="Ticket Price*" required>

        <textarea id="description" name="description" rows="4" cols="50">Describe Item</textarea>

        <input type="text" id="trivia" name="trivia" placeholder="Entry Question*" required>

        <p>Please write 1 correct answer, and 2 incorrect answers.</p>

        <input type="text" id="answer1" name="answer1" placeholder="Answer" required>
            
        <input type="text" id="answer2" name="answer2" placeholder="Answer" required>
            
        <input type="text" id="answer3" name="answer3" placeholder="Answer" required>

        <input type="submit" value="submit">
    </form>

{% endblock %}