{% extends "backstage.html" %}

{% block title %}
    Stock Management
{% endblock %}

{% block main %}
<h1>Stock</h1>
<a href="/dashboard">Back to Dashboard</a>
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - {{ product.status }}
                <form action="{{ url_for('viewstock')}}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    {% if product.status == 'Available' %}
                    <input type="submit" name="action" value="reserved">
                    {% elif product.status == 'Reserved' %}
                    <input type="submit" name="action" value="available">
                    {% endif %}
                    <input type="submit" name="action" value="sold">
                </form>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
