{% extends "layout.html" %}

{% block title %}
    Joker Watches
{% endblock %}

{% block main %}
<img src="/static/logo2.png">
<h1>Jokers Watches</h1>
<div class="product-grid">
    {% for i in range (watch_products|length) %}
    <div class="product">
        <a href="{{ url_for('product', product_id=watch_products[i].id) }}">
            <h3>{{ watch_products[i].name }}</h3>
            <img src="{{ url_for('static', filename='thumbnails/' + watch_products[i].thumbnail_filename) }}" alt="Product Thumbnail">
            <p>{{ watch_products[i].status }} - £{{ "{:.2f}".format(sale_prices[i]) }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}